* {
	padding: 0; 
	margin: 0; 
}
body { 
	background-color: #EEE;
  background-image: url('/optimized/background-jellybean.jpg');
}
p { 
	font-family: Helvetica; 
	font-size: 16px; 
	line-height: 24px; 
	margin-bottom: 22px; 
	-webkit-font-smoothing: antialiased; 
}
a { 
	color: rgb(8, 8, 146); 
	font-weight: bold; 
	text-decoration: none; 
	border-bottom: 1px solid rgba(1, 1, 111,0.3);
	white-space: nowrap;
}
a:hover { 
	color: #990000; 
	border-bottom: 1px solid rgba(8, 8, 146,1);
}
#monogram { 
	width: 50px; 
	padding: 20px 0 0 0; 
	margin: 0 auto 0 50px; 
}
.about { 
	color: rgb(1, 1, 111); 
	width: 50%;
	min-width: 320px;
	padding: 25px;
	margin: -65px 50px 0 auto !important;
	background-color:rgba(255,255,255,0.75);
}
#photo { 
	display: none; 
}
#social-icons { 
	font-size: 28px; 
}
#social-icons a { 
	border-bottom: none; 
}
#social-icons a:hover { 
	border-bottom: none; 
}
#disclaimer { 
	font-size :0.8em; 
	font-style: italic; 
}
@media (max-width: 767px) {
	body {
		background-image: none;
	}
	#monogram { 
		position: relative; 
		width: auto; 
		padding: 20px; 
		margin: 0; 
	}
	.about { 
		position: relative; 
		width: auto;
		min-width: auto;
		padding: 20px; 
		margin: 0 !important; 
	}
	#photo { 
		display: block; 
	}
	#photo img { 
		width: 100%; 
	}
	background-image { 
		opacity: 0.2; 
	}
}


/* font-face */
@font-face {
  font-family: "GeneralFoundicons";
  src: url("/foundation_icons_general/fonts/general_foundicons.eot");
  src: url("/foundation_icons_general/fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), url("/foundation_icons_general/fonts/general_foundicons.woff") format("woff"), url("/foundation_icons_general/fonts/general_foundicons.ttf") format("truetype"), url("/foundation_icons_general/fonts/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="gfoundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="gfoundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.gfoundicon-settings:before {
  content: "\f000";
}

.gfoundicon-heart:before {
  content: "\f001";
}

.gfoundicon-star:before {
  content: "\f002";
}

.gfoundicon-plus:before {
  content: "\f003";
}

.gfoundicon-minus:before {
  content: "\f004";
}

.gfoundicon-checkmark:before {
  content: "\f005";
}

.gfoundicon-remove:before {
  content: "\f006";
}

.gfoundicon-mail:before {
  content: "\f007";
}

.gfoundicon-calendar:before {
  content: "\f008";
}

.gfoundicon-page:before {
  content: "\f009";
}

.gfoundicon-tools:before {
  content: "\f00a";
}

.gfoundicon-globe:before {
  content: "\f00b";
}

.gfoundicon-home:before {
  content: "\f00c";
}

.gfoundicon-quote:before {
  content: "\f00d";
}

.gfoundicon-people:before {
  content: "\f00e";
}

.gfoundicon-monitor:before {
  content: "\f00f";
}

.gfoundicon-laptop:before {
  content: "\f010";
}

.gfoundicon-phone:before {
  content: "\f011";
}

.gfoundicon-cloud:before {
  content: "\f012";
}

.gfoundicon-error:before {
  content: "\f013";
}

.gfoundicon-right-arrow:before {
  content: "\f014";
}

.gfoundicon-left-arrow:before {
  content: "\f015";
}

.gfoundicon-up-arrow:before {
  content: "\f016";
}

.gfoundicon-down-arrow:before {
  content: "\f017";
}

.gfoundicon-trash:before {
  content: "\f018";
}

.gfoundicon-add-doc:before {
  content: "\f019";
}

.gfoundicon-edit:before {
  content: "\f01a";
}

.gfoundicon-lock:before {
  content: "\f01b";
}

.gfoundicon-unlock:before {
  content: "\f01c";
}

.gfoundicon-refresh:before {
  content: "\f01d";
}

.gfoundicon-paper-clip:before {
  content: "\f01e";
}

.gfoundicon-video:before {
  content: "\f01f";
}

.gfoundicon-photo:before {
  content: "\f020";
}

.gfoundicon-graph:before {
  content: "\f021";
}

.gfoundicon-idea:before {
  content: "\f022";
}

.gfoundicon-mic:before {
  content: "\f023";
}

.gfoundicon-cart:before {
  content: "\f024";
}

.gfoundicon-address-book:before {
  content: "\f025";
}

.gfoundicon-compass:before {
  content: "\f026";
}

.gfoundicon-flag:before {
  content: "\f027";
}

.gfoundicon-location:before {
  content: "\f028";
}

.gfoundicon-clock:before {
  content: "\f029";
}

.gfoundicon-folder:before {
  content: "\f02a";
}

.gfoundicon-inbox:before {
  content: "\f02b";
}

.gfoundicon-website:before {
  content: "\f02c";
}

.gfoundicon-smiley:before {
  content: "\f02d";
}

.gfoundicon-search:before {
  content: "\f02e";
}



/* font-face */
@font-face {
  font-family: "SocialFoundicons";
  src: url("/foundation_icons_social/fonts/social_foundicons.eot");
  src: url("/foundation_icons_social/fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("/foundation_icons_social/fonts/social_foundicons.woff") format("woff"), url("/foundation_icons_social/fonts/social_foundicons.ttf") format("truetype"), url("/foundation_icons_social/fonts/social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="sfoundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="sfoundicon-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.sfoundicon-thumb-up:before {
  content: "\f000";
}

.sfoundicon-thumb-down:before {
  content: "\f001";
}

.sfoundicon-rss:before {
  content: "\f002";
}

.sfoundicon-facebook:before {
  content: "\f003";
}

.sfoundicon-twitter:before {
  content: "\f004";
}

.sfoundicon-pinterest:before {
  content: "\f005";
}

.sfoundicon-github:before {
  content: "\f006";
}

.sfoundicon-path:before {
  content: "\f007";
}

.sfoundicon-linkedin:before {
  content: "\f008";
}

.sfoundicon-dribbble:before {
  content: "\f009";
}

.sfoundicon-stumble-upon:before {
  content: "\f00a";
}

.sfoundicon-behance:before {
  content: "\f00b";
}

.sfoundicon-reddit:before {
  content: "\f00c";
}

.sfoundicon-google-plus:before {
  content: "\f00d";
}

.sfoundicon-youtube:before {
  content: "\f00e";
}

.sfoundicon-vimeo:before {
  content: "\f00f";
}

.sfoundicon-flickr:before {
  content: "\f010";
}

.sfoundicon-slideshare:before {
  content: "\f011";
}

.sfoundicon-picassa:before {
  content: "\f012";
}

.sfoundicon-skype:before {
  content: "\f013";
}

.sfoundicon-steam:before {
  content: "\f014";
}

.sfoundicon-instagram:before {
  content: "\f015";
}

.sfoundicon-foursquare:before {
  content: "\f016";
}

.sfoundicon-delicious:before {
  content: "\f017";
}

.sfoundicon-chat:before {
  content: "\f018";
}

.sfoundicon-torso:before {
  content: "\f019";
}

.sfoundicon-tumblr:before {
  content: "\f01a";
}

.sfoundicon-video-chat:before {
  content: "\f01b";
}

.sfoundicon-digg:before {
  content: "\f01c";
}

.sfoundicon-wordpress:before {
  content: "\f01d";
}

