{% assign total_post_count = 212.0 %}
{% assign posts_migrated_count = total_post_count | minus: site.pending.size %}
{% assign migration_percentage = posts_migrated_count | divided_by: total_post_count | times: 100 | round: 2 %}
<progress max="{{ total_post_count | floor }}" 
    value="{{ posts_migrated_count }}" 
    title="{{ migration_percentage }}% migrated"></progress>
Migrated <strong>{{ posts_migrated_count | floor }}</strong> out of <strong>{{ total_post_count | floor }}</strong> posts migrated (<strong>{{ migration_percentage }}%</strong>).  <strong>{{ site.pending.size }}</strong> posts remaining to migrate.